.sounds{
    /* width: 95%;
    height: 10vh; */
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 2;
    /* margin-left: 700px; */
    top:15px;
    position: fixed;
    right: 20px;
}
@media (max-width: 1299px) {
    .sounds{
        /* width: 95%;
        height: 10vh; */
        margin: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        z-index: 2;
        /* margin-left: 700px; */
        top:10px;
        left: 15px;
    }
}
#sound{
    border-radius: 3px;
    padding: 3px;
    right: 20px;
    /* position: fixed; */
    /* z-index: 999999; */
    top: 24px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 15px;
    /* pointer-events: none; */
    background: rgba(29,29,29,0.8);
}
.icofont-soundcloud{
    font-size: 1.2rem;
    margin: 7px;
    color: #f50057;
}
.on-off{
    cursor: pointer;
    margin-left: 5px;
}
#off{
    color: #f50057;
}
#on{
    display: none;
    color: #08fdd8;
}
