
/* contact me button */
.contact-button{
    text-decoration: none;
    width: 100%;
    max-width: 200px;
    height: 40px;
    display: block;
    line-height: 40px;
    letter-spacing: 3px;
    position: relative;
    text-align: center;
    color: rgba(255, 255, 255, 0.692);
    margin-top: 50px;
    right: 200px;
    
}
@media (max-width: 768px) {
    .contact-button{
        text-decoration: none;
        width: 100%;
        max-width: 200px;
        height: 40px;
        display: block;
        line-height: 40px;
        letter-spacing: 3px;
        position: relative;
        text-align: center;
        color: rgba(255, 255, 255, 0.692);
        margin-top: 40px;
        right: 60px;
    }
}
.contact-button div{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition:  all .3s ease-in-out;
    z-index: 3;
}
.contact-button span.bg{
    position: absolute;
    width: 0%;
    height: 100%;
    left: -5px;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: rgba(255, 255, 255, 0.692);
    transform: skewX(-19deg);
    
}
.contact-button:hover span.bg{
    width: 110%;
}
.contact-button span.base{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    border: 1px solid rgba(255, 255, 255, 0.692);
    box-sizing: border-box;
    
}
.contact-button span.text{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    
}
.contact-button:hover span.text{
    color: #1d1d1d;
}